<html>
<head><title>Planet Clock</title>
<meta http-equiv="refresh" content="3600" />
<script language="javascript" src="../ephemerides/earth.js" > </script>
<script language="javascript" src="../ephemerides/luna.js" > </script>
<script language="javascript" src="../scripts/major_body_constants.js" > </script>
<script language="javascript" src="../scripts/common.js" > </script>
<script language="javascript" src="../scripts/clock.js" > </script>
<script language="javascript">


</script>
</head>

<body bgcolor="#F0F0F0" onLoad="load();enterFullscreen();" style="margin: 0 0 0 0;">
  <div id="container" style="position:absolute;top:0px;left:0px;width:100%;height:100%">
    <canvas id="canvas"/>
  </div>
  <div id="time" style="position:absolute;top:0px;left:0px;color:white;margin:10px 10px 10px 40px; font-weight:bold; font-size:36pt; font-family:'Constantia';">
    2999-12-31<br />
    23:59
  </div>
  <div id="debug" style="position:absolute;top:600px;left:0px;color:white; ">
    <input id="input_year" type="text" size=3 value=2016 />
    <input id="input_month" type="text" size=1 value=12 />
    <input id="input_day" type="text" size=1 value=24 />
    <input id="input_hour" type="text" size=1 value=23 />
    <input id="input_min" type="text" size=1 value=59 />
    <input id="input_sec" type="text" size=1 value=59 />
	
	
	<br />
    <input type="button" value="set time" onClick="setDebugTime();" />
    <input type="button" value="clear time" onClick="clearDebugTime();" />
  </div>
</body>
</html>
