<html>
<head>
<title> Road conditions </title>
<style>
.panel {
  margin:0px;
  padding:0px;
  
}
.headline {
  height:50px;
  font-size:30px;
  text-align:center;
  font-family:arial;
  border: 0px;
  border-bottom: 5px solid black;
  padding:15px 0px 5px 0px ;
}
</style>
</head>
<body class="panel">
  <div class="panel" style="float:left;height:100%;width:20%;">
    <div class="panel headline">I 89</div>
    <a class="twitter-timeline"  href="https://twitter.com/NHDOTI89" data-widget-id="567802392247533568">Tweets by @NHDOTI89</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
  <div class="panel" style="float:left;height:100%;width:60%">
    <iframe class="panel" style="height:100%;width:100%;border:0px;" src="http://wxug.us/1ndfb" > </iframe>
  </div>
  <div class="panel" style="float:right;height:100%;width:20%;">
    <div class="panel headline">I 93</div>
    <a class="twitter-timeline"  href="https://twitter.com/nhdoti93" data-widget-id="567801437313581056">Tweets by @nhdoti93</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</body>
</html>