<html>
<head>
<title> Weather </title>
<style>
.panel {
  margin:0px;
  padding:0px;
  
}
.headline {
  height:50px;
  font-size:30px;
  text-align:center;
  font-family:arial;
  border: 0px;
  border-bottom: 5px solid black;
  padding:15px 0px 5px 0px ;
}
</style>
</head>
<body class="panel">
  <!--iframe class="panel" style="height:100%;width:100%;border:0px;" src="http://www.wunderground.com/weather-forecast/zmw:03753.1.99999?MR=1" > </iframe-->
  <iframe class="panel" style="height:100%;width:100%;border:0px;" src="https://weatherspark.com/#!dashboard;q=grantham%2C%20New%20Hampshire%2C%20United%20States" > </iframe>
</body>
</html>